@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #fc5185 50%, #00adb5 50%) fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background-color: #fff;
  width: 400px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 15px 30px 35px rgba(0, 0, 0, 0.3);
  text-align: center;
  perspective: 300px;
}

.stats {
  text-align: right;
  color: #101020;
  font-weight: bold;
  line-height: 25px;
}

.coin {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 50px auto;
  transform-style: preserve-3d;
}

.yazi {
  transform: rotateX(180deg);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.coin img {
  width: 145px;
}

.tura,
.yazi {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.button {
  width: 120px;
  padding: 10px 0;
  border: 3px solid #ff2e63;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.3s ease;
}

#flip-button {
  background-color: #ff2e63;
  color: #fff;
}

#flip-button:disabled {
  background-color: #e1e0ee;
  color: #101020;
  border: 3px solid #e1e0ee;
}

#reset-button {
  background-color: #fff;
  color: #000;
  border: 3px solid #ff2e63;
}

.button:hover {
  background-color: #ff2e63;
  color: #fff;
}

@keyframes spin-yazi {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(1980deg);
  }
}

@keyframes spin-tura {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(2160deg);
  }
}